.theme {
  padding: 0 1em 2em;
  margin: 0 0 2em;
  border-bottom: 1px solid #eee;

  &__links {
    margin-top: 1em;
    text-align: center;

    a {
      display: inline-block;
      text-align: center;
      margin: 0 0.5em;
    }
  }

  &__sidebar {
    padding: 1em;
  }

  &__pricing {
    margin: 2em auto;
    padding: 0 1em;
    width: 190px;

    .btn {
      margin: 1em auto;
      width: 155px;
    }
  }

  &__price {
    text-align: center;
    font-size: 3.2em;
    margin: 0;

    sup {
      font-size: 0.4em;
    }
  }

  img {
    width: 100%;
    height: auto;
    border: 1px solid #eee;
  }

  h4 {
    margin-top: 2em;
  }
}
